.login-card {
  padding: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 20px;
    & > button {
      margin-top: 20px;
    }
  }
}
