input.inlineText {
  width: 80%;
  font-size: 20px;
  margin: 15px;
  height: 30px;
  background: none;
  text-align: left;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid
    linear-gradient(to top, #ffffff, #5df9ee, #79d0d0, #ffffff) 1% 100%;
}

.input-error {
  text-align: center;
  font-family: Montserrat, Areal, sans-serif;
  font-size: 14px;
  color: red;
  margin: 4px 0 0 0;
}

.input-label {
  flex-grow: 1;
  font-family: Montserrat, Areal, sans-serif;
  display: block;
  text-align: left;
  font-size: 16px;
  color: #818181;
}
