extends ../../layouts/ui.pug
include ../../components/registration-card/registration-card.pug
include ../../components/login-card/login-card.pug
include ../../components/profile-card/profile-card.pug
include ../../components/mod-avatar-card/mod-avatar-card.pug
include ../../components/mod-pass-card/mod-pass-card.pug
include ../../components/chat/chat.pug
include ../../components/chat-list/chat-list.pug

block variables
  - const title = "UI-KIT"

block content
  - const regData = JSON.parse(readFileSync("./src/pages/registration-page/registration-page.json", "utf-8"));
  - const navData = JSON.parse(readFileSync("./src/pages/ui-page/nav.json", "utf-8"));
  - const loginData = JSON.parse(readFileSync("./src/pages/login-page/login-page.json", "utf-8"));
  - const profileData = JSON.parse(readFileSync("./src/pages/profile-page/profile-page.json", "utf-8"));

  nav.navigation
    each item in navData
      a(href=item.url)=item.name

  main.registration
    .registration__container
      .registration__registration-card
        +registration-card(regData)

  section.login
    .login__container
      .login__login-card
        +login-card(loginData)

  section.profile
    .profile__container
      .profile__profile-card
        +profile-card(profileData)


  section.mod-avatar
    .mod-avatar__container
      .mod-avatar__mod-avatar-card
        +mod-avatar-card({
          title: "Загрузить файл",
          formAction: "login-page",
          textField: {
            newAvatar: {
              placeholder: "",
              type: "file",
              name: "file",
              autocomplete: "off"
            },
          },
          button: {
            changeAvatar: {
              buttonName: 'Поменять',
              type: 'submit',
              textColor: 'gray',
            },
          }
        })

  section.mod-pass
    .mod-pass__container
      .mod-pass__profile-card
        +mod-pass-card({
          formAction: 'profile-page',
          textField: {
            passwordOld: {
              placeholder: "Старый пароль",
              type: "password",
              name: "password",
              autocomplete: "off"
            },
            passwordNew: {
              placeholder: "Новый пароль",
              type: "password",
              name: "password",
              autocomplete: "off"
            },
            passwordNewAgain: {
              placeholder: "Новый пароль еще раз",
              type: "password",
              name: "password",
              autocomplete: "off"
            },
          },
          button: {
            savePassword: {
              buttonName: 'Сохранить',
              type: 'submit',
              textColor: 'gray',
            },
          },
        },)

  section.chats
    .chats__container
      .chats__chat
        +chat({
          avatar: {
            img: "avatar",
            name: "Vladimir",
            },
          },
        )

  section.chats-list
    .chats-list__container
      .chats-list__chat-list
        +chat-list({
          button: {
            profile: {
              buttonName: 'Профиль',
              textColor: 'gray',
              link: "../link-test",
            },
          },
          textField: {
            search: {
              placeholder: 'Поиск',
              type: 'text',
              name: 'search',
            },
          },
          chat: {
            avatar1: {
              img: "avatar",
              name: "Vladimir",
              }
          },
        })
