@import '../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;
  margin-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  background: $mainGradientGray;
  border-radius: 100px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $mainGradientColor;
    color: $textColor;
  }
  &__arrow {
    border: 2px solid red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  &__inner {
    width: 100%;
    color: $textColor;

    &_text-color {
      &_gray {
        color: rgba($textColor, 0.5);
        &:hover {
          color: $textColor;
        }
      }
      &_white {
        color: #fff;
      }
      &_red {
        color: rgb(169, 68, 68);
        &:hover {
          color: red;
        }
      }
      &_link {
        background: none;
        text-align: center;
        &:hover,
        &:focus {
          background: none;
        }
      }
    }
  }
}
