if dialogChosen === true
    div(class="chat")
        div
            header(class="header-chat-field")
                h1(class="name-chat") #{userName}
                button(class="index-menu-btn" type="button")
            hr
        div(class="body-chat")

            for message in messageFlow
                if message.user_id === userId
                    p(class="send-message") #{message.content}
                else
                    p(class="get-message") #{message.content}
        div
            hr
            footer(class="footer-chat-field")
                button(class="index-attach-btn" type="button")
                != inputMessage
                != btnSendMessage
else
    p(class="start-talk") выберите чат и начните переписку!


    div(class="chat" style="display: none")
        div(class="body-chat")
            != inputMessage
            != btnSendMessage
