div(class="modal")
    div(class="modal-content")
        p(class="modal-text") создайте новый чат!
        input(class="modal-input" id="title-chat" placeholder="тайтл чата")
        input(class="modal-input" id="login-to-invite" placeholder="логин участника чата")
        label(class="modal-label" for="ava-chat") аватар чата
        input(id="ava-chat" type="file")
        != btnCreateChat
