div
    != buttonBack
    div(class="inside-error")
        p(class="line-error-oops") упс
        h1(class="line-error-number")  #{errorName}
        p(class="line-error-sorry") мы уже работаем над этим!
        a(class="line-error-back" href="/") назад к чатам