@import "../../static/constants";

.inner-profile {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

img {
  border-radius: 50%;
  width: @imgProfileSize;
  height: @imgProfileSize;
  margin: auto;
}

.center {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

p {
  font-size: 32px;
  line-height: 39px;
  margin: 5px;
  .text;
}

a.blue {
  cursor: pointer;
  text-decoration: none;
  color: @blue;
  font-size: 24px;
  line-height: 29px;
  .text;
}

a.red {
  cursor: pointer;
  text-decoration: none;
  color: red;
  font-size: 24px;
  line-height: 29px;
  .text;
}

.margin {
  margin: 20px;
}

.profile-value {
  margin: 10px;
  padding: 5px;
}

.header-to-value {
  margin-left: 10px;
  font-family: Inter, sans-serif;
  display: block;
  text-align: left;
  font-size: 16px;
  color: @labelColor;
}

.value {
  padding: 3px;
  font-size: 20px;
  margin: 15px;
  height: 30px;
  background: none;
  text-align: left;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid @coolColor;
}
