div
    != btnBack
    div(class="container")
        form(class="max-height-form-data")
            != inputFirstName
            != inputSecondName
            != inputLogin
            != inputEmail
            != inputPhone
            div(class="column-group")
                != sbmButtonData

        form(class="max-height-form-ava")
            img(src=urlAva alt="аватар")
            input(type="file" name="avatar" id="ava" accept=".png, .jpg, .jpeg")
            div(class="column-group")
                != sbmButtonImage
