extends ../../layouts/ui.pug
include ../../components/registration-card/registration-card.pug


block content
  main.registration
    .registration__container
      .registration__registration-card
        +registration-card({
          title: 'Регистрация',
          formAction: 'registration-page',
          textField: {
            name: {
              placeholder: 'Имя',
              type: 'text',
              name: 'name',
              autocomplete: 'on',
            },
            surname: {
              placeholder: 'Фамилия',
              type: 'text',
              name: 'surname',
              autocomplete: 'on',
            },
            login: {
              placeholder: 'Почта',
              type: 'email',
              name: 'email',
              autocomplete: 'on',
            },
            password: {
              placeholder: 'Пароль',
              type: 'password',
              name: 'password',
              autocomplete: 'off',
            },
            nickname: {
              placeholder: 'Логин',
              type: 'text',
              name: 'login',
              autocomplete: 'on',
            },
            telephone: {
              placeholder: 'Tel:+7',
              type: 'tel',
              name: 'tel',
              autocomplete: 'on',
            },
          },
          button: {
            submit: {
              buttonName: 'Зарегистрироваться',
              type: 'submit',
              textColor: 'gray',
            },
            enter: {
              buttonName: 'Войти',
              type: 'submit',
              textColor: 'white',
            },
          },
        },)