doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body(style={display:'flex', margin: '100px auto', width: '300px', gap: '10px'})
    a(href="./login-page/login-page.pug") Login page
    a(href="./messanger-page/messanger-page.pug") Messanger page
    a(href="./profile-page/profile-page.pug") Profile page