div
    != btnBack
    div(class="container")
        img(src=urlIm alt="аватар")
        form(class="max-height-form-password")
            != inputOldPassword
            != inputNewPassword
            div(class="column-group")
                != btnSubmit

            //div
            //    label(for="oldPassword") старый пароль
            //    input(name="oldPassword", type="password", id="oldPassword", placeholder="old password")
            //div
            //    label(for="newPassword") новый пароль
            //    input(name="newPassword", type="password", id="newPassword", placeholder="new password")
            //div(class="column-group")
            //    button(class="prime") Сохранить новый пароль
