.prime {
  background-color: #fdfdfd;
  color: linear-gradient(to top, #ffffff, #5df9ee, #79d0d0, #ffffff) 1% 100%;
}

.secundus {
  background-color: linear-gradient(to top, #ffffff, #5df9ee, #79d0d0, #ffffff) 1% 100%;
  color: black;
}
