div.main_page
    != modalAddChat
    div(class="user-nav")
        div(class="user-bar")
            != linkProfile
            //a(class="tools") Настройки пользователя
            div.flex
                input(class="search_contact" placeholder="поиск чата🔍")
                != btnAddChat

        for chat in chatList
            != chat

    != dialogField