div(id="content")
    div(class="container_form")
        form
            h1 Sign in
            div
                != loginInput
                != passwordInput
            div(class="column-group")
                != submitBtn
                != createAc
    != buttonBack
