.app__profile {
  &__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
  }

  &__profile-card {
    width: 600px;
    border: 1px solid rgb(218, 218, 218);
  }
}
