@import '../../styles/variables.scss';

.text-field {
  @include border-main;

  &__input {
    width: 100%;
    height: 40px;
    padding: 0 0 0 14px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
  }

  &:hover,
  &:focus-within {
    @include border-focused;
  }
}
